<h2 style="text-align: center;">Edit Company Custom Field </h2>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  <%= form_with model: @companycustomfield, url: custom_fields_update_path, method: :put, local: true do |f| %>
    <%= f.hidden_field :id %>
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1"  style="margin-top: 10px;">Company</label>
      <%= f.select :company_id, Company.all.map { |t| [t.company_name, t.id]}, {:include_blank => 'Select any comany'}, class: "form-control" %>
    </div>
  
  
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1"  style="margin-top: 10px;">Custom_Field_Name</label>
        <%= f.text_field :custom_field, autofocus: true, autocomplete: "custom_field", class:"form-control", placeholder:'Please enter Company_State' %>
      </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      
  
      
    </div>
  
    <!-- Submit button -->
    <%= f.submit "Update", class:"btn btn-primary btn-block mb-4", style:"margin-top: 10px;" %>
  
    <!-- Register buttons -->
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>