<h2 style="text-align: center;">Register Company Details</h2>
&nbsp;&nbsp;&nbsp;<%= link_to "Back", home_index_url, style:"font-size: 15px;" %>&nbsp;&nbsp;&nbsp;
<div class="row">
  <div class="col-md-4">
</div>
<div class="col-md-4">
<%= form_with model: @company, method: :post, local: true do |f| %>
 <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example1">Company Name</label>
    <%= f.text_field :company_name, autofocus: true, autocomplete: "company_name", class:"form-control", placeholder:'Please enPlease enter Company_Name' %>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Email</label>
    <%= f.text_field :company_email, autofocus: true, autocomplete: "company_email", class:"form-control", placeholder:'Please enter Company_Email' %>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Type</label>
    <%= f.text_field :company_type, autofocus: true, autocomplete: "company_type", class:"form-control", placeholder:'Please enter Company_Type' %>

  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Address</label>
    <%= f.text_field :company_address, autofocus: true, autocomplete: "company_address", class:"form-control", placeholder:'Please enter Company_Address' %>

  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company City</label>
    <%= f.text_field :company_city, autofocus: true, autocomplete: "company_city", class:"form-control", placeholder:'Please enter Company_City' %>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company State</label>
    <%= f.text_field :company_state, autofocus: true, autocomplete: "company_state", class:"form-control", placeholder:'Please enter Company_State' %>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Pincode</label>
    <%= f.number_field :company_pincode, autofocus: true, autocomplete: "company_pincode", class:"form-control", placeholder:'Please enter Company_Pin_Code' %>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Contact_1</label>
    <%= f.number_field :company_contact_1, autofocus: true, autocomplete: "company_contact_1", class:"form-control", placeholder:'Please enter company_Phoneno' %>
  </div>

  <div class="form-outline mb-4" style="margin-top: 10px;">
  <label class="form-label" for="form2Example2">Company Contact_2</label>
    <%= f.number_field :company_contact_2, autofocus: true, autocomplete: "company_contact_2", class:"form-control", placeholder:'Please enter company_Mobile_Number' %>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
  </div>

  <!-- Submit button -->
  <%= f.submit "Submit", class:"btn btn-primary btn-block mb-4", style:"margin-top: 10px;" %>

  <!-- Register buttons -->
  </div>
  <div class="col-md-4">
  </div>
</div>
<% end %>
